body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

h1{
    color: #d35400;
}

.container{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.card{
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

.card img{
    width: 250px;
    height: 180px;
    border-radius: 10px;
}

.card a{
    text-decoration: none;
    color: black;
}

.receita-img{
    width: 400px;
    border-radius: 10px;
    margin: 20px;
}

ul, ol{
    display: inline-block;
    text-align: left;
}

a{
    display: block;
    margin-top: 20px;
    color: blue;
}
